<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- CSS import -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/view-map.css" type="text/css" />

    <!-- JQ import -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYFKtQIeixhpaOG8c72kkrb9ZN9L-ccIc&callback=initMap"
    async defer></script>


    <script>


      // const map = <%- JSON.stringify(map) %>;
      const poi_list = <%- JSON.stringify(poi_list) %>;

     </script>

    <!-- JS import -->
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/view-map.js"></script>
  </head>

  <body>

    <h1><%= map.title %></h1>

    <div id="map"></div>

  </body>
</html>
