
.navbar-default {
  background-color: #4367a0
}

.navbar-default .navbar-nav>li>a {
  color: white
}

.navbar-default .navbar-brand {
  color: white
}

.navbar .searchbar {
  margin: 11.5px;
}

.navbar .searchbar input{
  border-radius: 3px;
}

.navbar .searchbar button{
  border-radius: 3px;
}
